<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Perfil Deputado
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding
             style="background:url(assets/img/oPwHHWvHRkC7vrdrBpUV_wp-image-142634210.jpg) no-repeat center;background-size:cover;"
             id="page16">

  <div padding>
    <ion-segment [(ngModel)]="tab">
      <ion-segment-button value="perfil">
        Perfil
      </ion-segment-button>
      <ion-segment-button value="despesas">
        Despesas
      </ion-segment-button>
      <ion-segment-button value="proposicoes">
        Proposições
      </ion-segment-button>
    </ion-segment>
  </div>


  <div [ngSwitch]="tab">
    <div *ngSwitchCase="'perfil'">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <img src="{{detalhe.urlFoto}}"
                   style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;"/>
            </div>
          </ion-col>

          <ion-col>
            <ion-list>
              <ion-item style="text-align:center; background: #fff; padding: 2px;">
                <div id="perfilDeputado-markdown9" style="text-align:center;"
                     class="show-list-numbers-and-dots">
                  <p style="margin-top:0px;color:#000000;">
                    {{detalhe.nome}}
                  </p>
                </div>
              </ion-item>

              <ion-item style="text-align:center; background: #fff; padding: 2px;">
                <div id="perfilDeputado-markdown9" style="text-align:center;" class="show-list-numbers-and-dots">
                  <p style="margin-top:0px;color:#000000;">

                    <img src="http://www.camara.leg.br/internet/Deputado/img/partidos/{{detalhe.siglaPartido}}.gif"/>
                  </p>
                </div>
              </ion-item>

              <ion-item style="text-align:center; background: #fff; padding: 2px;">
                <div id="perfilDeputado-markdown9" style="text-align:center;" class="show-list-numbers-and-dots">
                  <p style="margin-top:0px;color:#000000;">
                    {{detalhe.siglaUf}}
                  </p>
                </div>
              </ion-item>

              <ion-item style="text-align:center; background: #fff; padding: 2px;">
                <div id="perfilDeputado-markdown9" style="text-align:center;" class="show-list-numbers-and-dots">
                  <p style="margin-top:0px;color:#000000;">
                    {{detalhe.situacao}}
                  </p>
                </div>
              </ion-item>

            </ion-list>

          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item style="text-align:center; background: #fff; padding: 2px;">
              <div id="perfilDeputado-markdown9" style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="margin-top:0px;color:#000000;">
                  {{deputado.nomeCivil}}
                </p>
              </div>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item style="text-align:center; background: #fff; padding: 2px;">
              <div id="perfilDeputado-markdown9" style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="margin-top:0px;color:#000000;">
                  Condição Eleitoral: {{detalhe.condicaoEleitoral}}
                </p>
              </div>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>


      <ion-item style="text-align:center; background: #fff; padding: 2px;">
        <div id="perfilDeputado-markdown9" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            Escolaridade: {{deputado.escolaridade}}
          </p>
        </div>
      </ion-item>
    </div>

    <div *ngSwitchCase="'despesas'">
      <despesas-deputado [deputado]="idDeputado"></despesas-deputado>
    </div>

    <div *ngSwitchCase="'proposicoes'">
      <div *ngIf="proposicoes.length == 0">
        <ion-col col-6 style="align-content: center">
          <ion-spinner name="crescent"></ion-spinner>
        </ion-col>
      </div>
      <ion-card *ngFor="let proposicao of proposicoes | slice:0:limit; let i = index">
        <ion-card-header>{{proposicao.siglaTipo}}</ion-card-header>
        <ion-card-content>
          {{proposicao.ementa}}
        </ion-card-content>
      </ion-card>

      <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
        <ion-infinite-scroll-content
          loadingSpinner="crescent"
          loadingText="Carregando mais deputados">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </div>
</ion-content>
