<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Blocos
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding style="background:url(assets/img/mUnucAtToK5MdnuwNsjF_wp-image-142634210.jpg) no-repeat center;background-size:cover;" id="page6">
  <ion-list id="blocos-list3">
    <ion-searchbar placeholder="Pesquisar Blocos" name="" id="blocos-search1"></ion-searchbar>
    <ion-item-divider *ngIf="blocos.length == 0">
      <ion-spinner name="crescent" ></ion-spinner>
    </ion-item-divider>

    <ion-item-divider color="light" *ngFor="let bloco of blocos" on-click="goToLegislatura(bloco.id)">
      {{bloco.nome}}
    </ion-item-divider>
  </ion-list>
</ion-content>
