<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Deputados
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding
             style="background:url(assets/img/rmwfKvrJRXmrj4o4x17y_wp-image-142634210.jpg) no-repeat center;background-size:cover;"
             id="page4">

  <ion-list id="deputados-list1">
    <ion-searchbar placeholder="Pesquisar Deputados" [(ngModel)]="searchQuery" [showCancelButton]="shouldShowCancel"
                   (ionInput)="getItems($event)"></ion-searchbar>

    <ion-item-divider *ng="deputados.length == 0">
      <ion-spinner name="crescent"></ion-spinner>
    </ion-item-divider>

    <div *ngIf="i < 15">
      <ion-item color="none" on-click="goToPerfilDeputado(deputado.id)"
                *ngFor="let deputado of deputados; let i = index">
        <ion-avatar item-left>
          <img src="{{deputado.urlFoto}}"/>
        </ion-avatar>
        <h2>
          {{deputado.nome}}
        </h2>
      </ion-item>
    </div>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content
        loadingSpinner="android"
        loadingText="Carregando mais deputados">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </ion-list>
</ion-content>
