<div *ngIf="despesas.length == 0">
  <ion-col col-6 style="align-content: center">
    <ion-spinner name="crescent"></ion-spinner>
  </ion-col>
</div>
<ion-card *ngFor="let despesa of despesas">
  <ion-card-header>
   <p text-wrap>{{despesa.tipoDespesa}}</p>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
       <p>Ano: 2017: Mês: {{meses[despesa.mes]}}</p>
        <p>Valor: R$ {{despesa.valorLiquido}}</p>
        <p text-wrap>Fornecedor: {{despesa.nomeFornecedor}}</p>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
