accordion {

  .card-header{
    background: darkcyan;
    color: #fff;

  }
  .card-content {
    padding: 0px;
    max-height: 0px;
  }

  .card-header-md {
    font-size: 1.6rem;
    color: #222;
    padding: 0px;
  }

}
